<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.atguigu.gmall.product.mapper.BaseCategory2Mapper">

    <resultMap id="BaseResultMap" type="com.atguigu.gmall.model.product.BaseCategory2">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="category1Id" column="category1_id" jdbcType="BIGINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,name,category1_id
    </sql>

    <resultMap id="CategoryWithTree" type="com.atguigu.gmall.model.to.CategoryTreeTo">
        <id column="c1Id" property="categoryId"></id>
        <result column="c1Name" property="categoryName"></result>
        <collection property="categoryChild" ofType="com.atguigu.gmall.model.to.CategoryTreeTo">
            <id column="c2Id" property="categoryId"></id>
            <result column="c2Name" property="categoryName"></result>
            <collection property="categoryChild" ofType="com.atguigu.gmall.model.to.CategoryTreeTo">
                <id column="c3Id" property="categoryId"></id>
                <result column="c3Name" property="categoryName"></result>
            </collection>
        </collection>
    </resultMap>

    <select id="getAllCategoryWithTree" resultMap="CategoryWithTree">
        select  c1.id c1Id,c1.name c1Name,c2.id c2Id,c2.name c2Name,c3.id c3Id,c3.name c3Name
            from base_category1  c1
            left join base_category2 c2 on c1.id = c2.category1_id
            left join base_category3 c3 on c2.id = c3.category2_id;
    </select>
</mapper>
